In [59]:
#importing all libraries
import pandas as pd
import selenium
import time
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

In [2]:
# loading Chrome webdriver
driver = webdriver.Chrome('chromedriver.exe')

* Q1. Scrape the details of most viewed videos on youtube from wikipedia.
URL = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find the following details.
1. Rank.
2. Name.
3. Artist.
4. Upload date.
5. Views.

In [8]:
# assigning the variable
rank = []
name = []
artist = []
date = []
views = []
data = []

# passing the url
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

# scraping the rank
for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]'):
    rank.append(i.text)

# scraping the name of the album
for j in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]'):
    name.append(j.text)

# scraping the artist name
for k in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]'):
    artist.append(k.text)
    
# scraping views
for l in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]'):
    views.append(l.text)
    
# scraping the date
for m in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]'):
    date.append(m.text)

In [9]:
youtube = pd.DataFrame({'Rank': rank,
                       'Album Name': name,
                       'Artist': artist,
                       'Views (in Billion)': views,
                       'Upload Date': date})
youtube

,Rank,Album Name,Artist,Views (in Billion),Upload Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.74,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.39,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.43,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.14,"February 27, 2018"
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.12,"May 2, 2018"
9,10.,"""Gangnam Style""[34]",Psy,4.08,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.91,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""[39]",El Chombo,3.38,"April 5, 2018"
14,15.,"""Roar""[40]",Katy Perry,3.36,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.31,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.08,"February 20, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.08,"December 3, 2015"
19,20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,3.07,"May 24, 2018"
20,21.,"""Shake It Off""[46]",Taylor Swift,3.06,"August 18, 2014"
21,22.,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
22,23.,"""Girls Like You""[48]",Maroon 5,3.04,"May 31, 2018"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.04,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.00,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.86,"November 9, 2017"
27,28.,"""Hello""[53]",Adele,2.84,"October 22, 2015"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.84,"June 4, 2010"
29,30.,"""Axel F""[55]",Crazy Frog,2.83,"June 16, 2009"

* Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
* You need to find following details:
1. Match title (I.e. 1st ODI)
2. Series
3. Place
4. Date
5. Time
* Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [12]:
# opening the url
driver.get('https://www.bcci.tv')

# getiing the internation fixture page
page = driver.find_element_by_xpath('/html/body/footer/div/nav/ul/li[2]/ul/li[1]/a')
page.click()

In [68]:
# storing details
title = []
series = []
place = []
date = []
time = []
list1 = []
list2 = []

# scraping the title
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']"):
    title.append(i.text)

# scraping series name
for j in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    series.append(j.text)
    
# scraping the place
for k in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    place.append(k.text)

# scraping date of the match
for l in driver.find_elements_by_xpath("//span[@class='fixture__date']"):
    list1.append(l.text)
for m in driver.find_elements_by_xpath("//span[@class='fixture__month']"):
    list2.append(m.text)
date = [i + j for i, j in zip(list1, list2)]

# scraping time
for n in driver.find_elements_by_xpath("//span[@class='fixture__time']"):
    time.append(n.text)

In [69]:
fixture = pd.DataFrame({})
fixture['Match Title'] = title
fixture['Series'] = series
fixture['Place'] = place
fixture['Dtae'] = date
fixture['Time'] = time

In [70]:
fixture

,Match Title,Series,Place,Dtae,Time
0,TEST,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18JUNE,15:00 IST
1,TEST,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
2,TEST,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
3,TEST,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
4,TEST,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
5,TEST,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

* Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
* You need to find following details:
1. Name
2. Description
* Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [90]:
# opening url
driver.get('https://www.guru99.com')

In [91]:
# locating searc input
search_inp = input("Enter the topic: ")
serach_bar = driver.find_element_by_xpath('//*[@id="gsc-i-id2"]')
serach_bar.send_keys(search_inp)
driver.find_element_by_xpath('//*[@id="___gcse_1"]/div/div/form/table/tbody/tr/td[2]/button').click()

Enter the topic: selenium exception

In [92]:
# opening the first url from the search list
a = driver.find_element_by_xpath('//*[@id="___gcse_1"]/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
driver.get(a.get_attribute('href'))

In [108]:
# scraping details
name = []
desc = []

# scraping the exception name
for i in driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]'):
    name.append(i.text)

#scraping the description
for j in driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]'):
    desc.append(j.text)

name = name[1:]
desc = desc[1:]

In [109]:
Exception = pd.DataFrame({})
Exception['Exception Name'] = name
Exception['Description'] = desc
Exception

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

* Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
*You have to find following details:
1. Rank
2. State
3. GSDP at current price (19-20)
4. GSDP at current price (18-19)
5. Share(18-19)
6. GDP($ billion)
* Note: - From statisticstimes home page you have to reach to economy page through code.

In [110]:
# opening url
driver.get('http://statisticstimes.com/')

In [114]:
# opening the indian GDP page
a = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
driver.get(a.get_attribute('href'))

In [115]:
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [122]:
rank = []
state = []
gsdp_1920 = []
gsdp_1819 = []
share = []
gdp = []

# scraping rank
for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]'):
    rank.append(i.text)

#scraping state
for j in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]'):
    state.append(j.text)

# scraping GSDP 19-20
for k in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]'):
    gsdp_1920.append(k.text)
    
# scraping GSDP 18-19
for l in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]'):
    gsdp_1819.append(l.text)
    
# scraping share
for m in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]'):
    share.append(m.text)
    
# scraping GDP
for n in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]'):
    gdp.append(n.text)

In [123]:
stats = pd.DataFrame({})
stats['Rank'] = rank
stats['State'] = state
stats['GSDP at current price(19-20)'] = gsdp_1920
stats['GSDP at current price(18-19)'] = gsdp_1819
stats['Share'] = share
stats['GDP'] = gdp
stats

,Rank,State,GSDP at current price(19-20),GSDP at current price(18-19),Share,GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

* Q5.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
*You have to find the following details:
1. Repository title
2. Repository description
3. Contributors count
4. Language used
* Note: - From the home page you have to click on the trending option from Explore menu through code.

In [54]:
# opening the url
driver.get('https://www.github.com')

trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
trending = trending.get_attribute('href')
driver.get(trending)

In [55]:
# vreating variable to store the data
title = []
desc = []
contri = []
lang = []
url = []

#scraping title
for h in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    title.append(h.text[h.text.find("/")+1:])

# sraping language used
loop = range(1,26)
for i in loop:
    try:
        a = driver.find_element_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article['+str(i)+']/div[2]/span[1]/span[2]')
        lang.append(a.text)
    except NoSuchElementException:
        lang.append('-')

# scraping contribution count
for j in driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]"):
    contri.append(j.text)
    
# scraping title and description
for k in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    url.append(k.get_attribute('href'))

In [60]:
github = pd.DataFrame({'Repository title': title,
                      'Contributord count': contri,
                      'Language Used': lang})
github

                Repository title Contributord count     Language Used
0                   chia-plotter                373                 C
1                      XUAN-Bike                240                 -
2           mesh-transformer-jax                 37  Jupyter Notebook
3    coding-interview-university             48,260                 -
4                     playwright              1,012        TypeScript
5              The-OldOS-Project                103             Swift
6                       naive-ui                216        TypeScript
7                 tiktok-scraper                324        TypeScript
8                       react-18                 10                 -
9                     jd_scripts                 24        JavaScript
10                      jd_shell                406        JavaScript
11                   spring-boot             33,839              Java
12     computer-vision-in-action                 87  Jupyter Notebook
13                    googletest              7,577               C++
14                        slides                 44                Go
15          virtual-environments              1,199        PowerShell
16                       JS_TOOL                268             Shell
17                      qinglong                402        TypeScript
18             Map-of-Javascript                 64        JavaScript
19                      AgileGAN                  6                 -
20             nodebestpractices              6,664        JavaScript
21                graphql-engine              1,891           Haskell
22             starter-workflows              3,210        TypeScript
23      workshop-graphql-netflix                 90        JavaScript
24                         Paper                993             Shell

* Q6.Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
* You have to find the following details:
1. Song name
2. Artist name
3. Last week rank
4. Peak rank
5. Weeks on board
* Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [ ]:
# opening url
driver.get('https://www.billboard.com')

In [106]:
# clicking the hot 100 bar
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]/a').click()

In [107]:
# creating variable to store the data
song = []
artist = []
w_rank = []
p_rank = []
on_board = []

#scraping song name
for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]'):
    song.append(i.text)
    
# scarping artist name
for j in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    artist.append(j.text)
    
#scraping last week rank
for k in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    w_rank.append(k.text)
    
#scraping peak rank
for l in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    p_rank.append(l.text)
    
#scraping weeks on board
for m in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    on_board.append(m.text)
    
Billboard = pd.DataFrame({'Song Name': song,
                         'Artist Name': artist,
                         'Last week rank': w_rank,
                         'Peak rank': p_rank,
                         'Weeks on board': on_board})
Billboard

,Song Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

* Q7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
* You have to find the following details:
1. Name
2. Designation
3. Company
4. Skills they hire for
5. Location
* Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [3]:
# opening url
driver.get('https://www.naukri.com/')
recruiter = driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a').get_attribute('href')
driver.get(recruiter)

In [4]:
# locating search panel
search_inp = input("Enter the position: ")
search_bar = driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input')
search_bar.send_keys(search_inp)

#locating search button
search_btn = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
search_btn.click()

Enter the position: data science

In [28]:
# creating variables to store the data
name = []
design = []
comp = []
skill = []
loc = []

# scraping name
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    name.append(i.text)
    
# scraping designation
for j in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    design.append(j.text)
    
#scraping company name
for k in driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]"):
    comp.append(k.text)
    
#craping skill required
for l in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    skill.append(l.text)
    
#scraping loaction
loc = []
loop = range(1,26)
loop2 = range(1, 3)
for i in loop:
    for j in loop2:
        xpath = '//*[@id="tabP-1"]/div['+str(i)+']/div['+str(j)+']/div[1]/div[1]/p/span[2]/small'
        try:
            name = driver.find_element_by_xpath(xpath)
            loc.append('name.text')
        except NoSuchElementException:
            loc.append('-')
            
# creating a dataframe
naukri = pd.DataFrame({'Name': name,
                      'Designation': design,
                      'Company Name': comp,
                      'Skill Required': skill,
                      'Location': loc})
naukri

,Name,Designation,Company Name,Skill Required,Location
0,<selenium.webdriver.remote.webelement.WebEleme...,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",name.text
1,<selenium.webdriver.remote.webelement.WebEleme...,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",name.text
2,<selenium.webdriver.remote.webelement.WebEleme...,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",name.text
3,<selenium.webdriver.remote.webelement.WebEleme...,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",name.text
4,<selenium.webdriver.remote.webelement.WebEleme...,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",name.text
5,<selenium.webdriver.remote.webelement.WebEleme...,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",name.text
6,<selenium.webdriver.remote.webelement.WebEleme...,Programme Manager,IFMR,Data Science,name.text
7,<selenium.webdriver.remote.webelement.WebEleme...,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",name.text
8,<selenium.webdriver.remote.webelement.WebEleme...,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",name.text
9,<selenium.webdriver.remote.webelement.WebEleme...,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",name.text
10,<selenium.webdriver.remote.webelement.WebEleme...,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",name.text
11,<selenium.webdriver.remote.webelement.WebEleme...,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",name.text
12,<selenium.webdriver.remote.webelement.WebEleme...,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",name.text
13,<selenium.webdriver.remote.webelement.WebEleme...,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",name.text
14,<selenium.webdriver.remote.webelement.WebEleme...,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",name.text
15,<selenium.webdriver.remote.webelement.WebEleme...,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",name.text
16,<selenium.webdriver.remote.webelement.WebEleme...,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",name.text
17,<selenium.webdriver.remote.webelement.WebEleme...,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,name.text
18,<selenium.webdriver.remote.webelement.WebEleme...,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",name.text
19,<selenium.webdriver.remote.webelement.WebEleme...,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",name.text
20,<selenium.webdriver.remote.webelement.WebEleme...,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",name.text
21,<selenium.webdriver.remote.webelement.WebEleme...,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",name.text
22,<selenium.webdriver.remote.webelement.WebEleme...,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",name.text
23,<selenium.webdriver.remote.webelement.WebEleme...,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",name.text
24,<selenium.webdriver.remote.webelement.WebEleme...,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",name.text
25,<selenium.webdriver.remote.webelement.WebEleme...,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",name.text
26,<selenium.webdriver.remote.webelement.WebEleme...,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
27,<selenium.webdriver.remote.webelement.WebEleme...,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",name.text
28,<selenium.webdriver.remote.webelement.WebEleme...,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",name.text
29,<selenium.webdriver.remote.webelement.WebEleme...,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",name.text
30,<selenium.webdriver.remote.webelement.WebEleme...,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",name.text
31,<selenium.webdriver.remote.webelement.WebEleme...,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",name.text
32,<selenium.webdriver.remote.webelement.WebEleme...,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",name.text
33,<selenium.webdriver.remote.webelement.WebEleme...,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",name.text
34,<selenium.webdriver.remote.webelement.WebEleme...,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",name.text
35,<selenium.webdriver.remote.webelement.WebEleme...,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",name.text
36,<selenium.webdriver.remote.webelement.WebEleme...,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",name.text
37,<selenium.webdriver.remote.webelement.WebEleme...,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",name.text
38,<selenium.webdriver.remote.webelement.WebEleme...,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",name.text
39,<selenium.webdriver.remote.webelement.WebEleme...,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",name.text
40,<selenium.webdriver.remote.webelement.WebEleme...,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",name.text
41,<selenium.webdriver.remote.webelement.WebEleme...,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",name.text
42,<selenium.webdriver.remote.webelement.WebEleme...,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",name.text
43,<selenium.webdriver.remote.webelement.WebEleme...,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",name.text
44,<selenium.webdriver.remote.webelement.WebEleme...,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",name.text
45,<selenium.webdriver.remote.webelement.WebEleme...,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",name.text
46,<selenium.webdriver.remote.webelement.WebEleme...,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",name.text
47,<selenium.webdriver.remote.webelement.WebEleme...,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
48,<selenium.webdriver.remote.webelement.WebEleme...,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",name.text
49,<selenium.webdriver.remote.webelement.WebEleme...,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",name.text

* Q8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
* You have to find the following details:
1. Book name
2. Author name
3. Volumes sold
4. Publisher
5. Genre

In [30]:
# opening the url
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [43]:
# creating variable to store data
name = []
author = []
volumes = []
publisher = []
genre = []

#scraping Book name
for i in driver.find_elements_by_xpath('//*[@id="article-body-blocks"]/div/table/tbody/tr/td[2]'):
    name.append(i.text)
    
#scraping author name
for j in driver.find_elements_by_xpath('//*[@id="article-body-blocks"]/div/table/tbody/tr/td[3]'):
    author.append(j.text)
    
#scraping volumes sold
for k in driver.find_elements_by_xpath('//*[@id="article-body-blocks"]/div/table/tbody/tr/td[4]'):
    volumes.append(k.text)
    
#scraping publisher name
for l in driver.find_elements_by_xpath('//*[@id="article-body-blocks"]/div/table/tbody/tr/td[5]'):
    publisher.append(l.text)
    
#scraping genre
for m in driver.find_elements_by_xpath('//*[@id="article-body-blocks"]/div/table/tbody/tr/td[6]'):
    genre.append(m.text)
    
#creating dataframe
Book = pd.DataFrame({'Book Name': name,
                    'Author Name': author,
                    'Volume Sold': volumes,
                    'Publisher Name': publisher,
                    'Genre': genre})
Book

,Book Name,Author Name,Volume Sold,Publisher Name,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

* Q9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
* You have to find the following details:
1. Name
2. Year span
3. Genre
4. Run time
5. Ratings
6. Votes

In [44]:
#opening url
driver.get('https://www.imdb.com/list/ls095964455/')

In [46]:
# creating variables to store the data
name = []
year_span = []
genre = []
runtime = []
ratings = []
votes = []

#scraping series name
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    name.append(i.text)
    
#scraping year span
for j in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    year_span.append(j.text)
    
#scraping genre
for k in driver.find_elements_by_xpath("//span[@class='genre']"):
    genre.append(k.text)
    
#scraping the runtime
for l in driver.find_elements_by_xpath("//span[@class='runtime']"):
    runtime.append(l.text)
    
#scraping the ratings
for m in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
    ratings.append(m.text)
    
#scraping votes
for n in driver.find_elements_by_xpath("//span[@name='nv']"):
    votes.append(n.text)
    
# creating dataframe
Series = pd.DataFrame({'Series Name': name,
                      'Year Span': year_span,
                      'Genre': genre,
                      'Runtime': runtime,
                      'Ratings': ratings,
                      'Votes': votes})
Series

,Series Name,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,821,471"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"862,613"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"873,930"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,489"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,790"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,545"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,030"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,433"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,858"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,157"

* Q10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
* You have to find the following details:
1. Dataset name
2. Data type
3. Task
4. Attribute type
5. No of instances
6. No of attribute
7. Year
* Note: - from the home page you have to go to the Show All Dataset page through code.

In [47]:
# opening the url
driver.get('https://archive.ics.uci.edu/')

In [48]:
# opening view all dataset page
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').click()

In [53]:
# creating variables to store the data
name = []
data_type = []
task = []
attribute = []
instance = []
n_attribute = []
year = []

#scraping the dataset name
for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]'):
    name.append(i.text)
    
#scraping the data type
for j in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]'):
    data_type.append(j.text)
    
#scraping the task
for k in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]'):
    task.append(k.text)
    
#scraping the attribute type
for l in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]'):
    attribute.append(l.text)
    
#scraping the number of instance
for m in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]'):
    instance.append(m.text)
    
#scraping the number of attribute
for n in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]'):
    n_attribute.append(n.text)
    
#scraping the year
for o in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]'):
    year.append(o.text)
    
#creating the dataframe
Datasets = pd.DataFrame({'Dataset Name': name,
                        'Data Type': data_type,
                        'Task': task,
                        'Attribute Type': attribute,
                        'Number of Instance': instance,
                        'Number of Attribute': n_attribute,
                        'Year': year})
Datasets

,Dataset Name,Data Type,Task,Attribute Type,Number of Instance,Number of Attribute,Year
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021